<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" mode="side" opened>
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </a>
      <a mat-list-item routerLink="/tickets" routerLinkActive="active-link">
        <mat-icon>confirmation_number</mat-icon>
        <span>Tickets</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>Customer Support System</span>
      <span class="spacer"></span>
      <span class="user-role" [matTooltip]="userRoleTooltip">
        <mat-icon>{{ userRoleIcon }}</mat-icon>
        <span class="role-name">{{ userRoleTooltip }}</span>
      </span>
      <button mat-icon-button aria-label="Logout button" (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
    <main class="content">
      
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
